
<div class="footer text-white" >
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="compLogo">
                    <img src="" alt="Company's Logo" class="img-fluid" />
                </div>
                <div class="anchors">
                    <ul>
                        <a href="#">
                            <li>
                                عـن الشـــركـة
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                خـدمـاتـنـا    
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                اتـصـل بـنـا
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 my-5">
                <div class="d-flex mb-4">
                    <div class="logo">
                        <div class="logoMorakab ml-3 black">
                            <i class="fas fa-home"></i>
                            <i class="fas fa-hands"></i>
                        </div>
                    </div>
                    <div class="letter">
                        تـأمـين علـى الـمنـزل
                    </div>
                </div>
                <div class="d-flex">
                    <div class="logo ml-3 black">
                        <i class="fas fa-medal"></i>
                    </div>
                    <div class="letter">
                        ضـمـان جـودة الـخدمـات
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" text-center">
                    <p>العنوان : القاهرة - حدائق المعادي - 16 شارع حسين دسوقي</p>
                    <p>التليفون</p>
                    <div class="socials">
                        <div class="circle">
    
                        </div>
                        <div class="circle">
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="circle">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>


<div class="copyRights text-white">
    copyright © 2020 all rights reserved.
</div>