<nav class="navbar navbar-expand-sm navbar-dark">

    <div class="container py-0">

        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <a class="navbar-brand" href="#">Company Logo</a>

        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">الـرئـيـســيـة <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item openServices">
                    <a class="nav-link" href="#">خـدمــاتـنـا</a>
                    <div class="dropdown-menu text-center" >
                        <a class="dropdown-item" href="#">نقل أثاث</a>
                        <a class="dropdown-item" href="#">نقل أثاث</a>
                        <a class="dropdown-item" href="#">نقل أثاث</a>
                        <a class="dropdown-item" href="#">نقل أثاث</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">أعـمـالـنـا</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">عـن الـشـركـة</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">اتـصـل بـنـا</a>
                </li>
                <li class="nav-item borderd mr-3">
                    <a class="butn" href="#">تـسـجـيـل الـدخول</a>
                </li>
            </ul>
        </div>
    </div>

</nav>