<div class="myBody">

    <section class="slider">
        <div class="skitter m-auto mb-5 skitter-large">
            <ul>
              <li>
                <a href="#cut"><img src="../../../assets/imgs/notfound.jpg"  /></a>
                <div class="label_text"><p>cut</p></div>
              </li>
              <li>
                <a href="#cut"><img src="../../../assets/imgs/mahmoud.jpg" class="cut" /></a>
                <div class="label_text"><p>swapBlocks</p></div>
              </li>
              <li>
                <a href="#cut"><img src="../../../assets/imgs/mahmoud.jpg" class="cut" /></a>
                <div class="label_text"><p>swapBarsBack</p></div>
              </li>
            </ul>
          </div>
    </section>

    <section class="cardsSection">
        <div class="container py-5">

            <div class="row px-5">
    
                <div class="col-md-3">
                    <div class="data p-1">
    
                        <div class="card">
                            <img class="card-img-top" src="" alt="Card image cap">
                            <div class="card-body text-center">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of the card's content.</p>
                            </div>
                            <div class="card-footer text-muted text-center">2 days ago</div>
                        </div>
    
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="data p-1">
    
                        <div class="card">
                            <img class="card-img-top" src="" alt="Card image cap">
                            <div class="card-body text-center">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of the card's content.</p>
                            </div>
                            <div class="card-footer text-muted text-center">2 days ago</div>
                        </div>
    
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="data p-1">
    
                        <div class="card">
                            <img class="card-img-top" src="" alt="Card image cap">
                            <div class="card-body text-center">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of the card's content.</p>
                            </div>
                            <div class="card-footer text-muted text-center">2 days ago</div>
                        </div>
    
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="data p-1">
    
                        <div class="card">
                            <img class="card-img-top" src="" alt="Card image cap">
                            <div class="card-body text-center">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of the card's content.</p>
                            </div>
                            <div class="card-footer text-muted text-center">2 days ago</div>
                        </div>
    
                    </div>
                </div>
            </div>
    
        </div>
    </section>

    <section class="whyUs py-5">

        <div class="header text-center">
            <h2>لـمـاذا تـطـلـب مـن <span>أي مـوف</span></h2>
            <div class="line mt-3"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 leftPart">
                    <div class="row">
                        <div class="col-md-6 p-5">
                            <div class="service">
                                <i class="fas fa-medal"></i>
                            </div>
                            <p class="text-center">ضـمـان عـلـى الـخـدمـات</p>
                        </div>
                        <div class="col-md-6 p-5">
                            <div class="service">
                                <i class="fas fa-people-carry"></i>
                            </div>
                            <p class="text-center">نـقـل مـضـمـون</p>
                        </div>
                        <div class="col-md-6 p-5">
                            <div class="service">
                                <i class="fas fa-hand-holding-usd"></i>
                            </div>
                            <p class="text-center">أسـعـار تـنـافـسـيـة</p>
                        </div>
                        <div class="col-md-6 p-5">
                            <div class="service">
                                <i class="fas fa-copyright"></i>
                            </div>
                            <p class="text-center">سـمـعـة كـويـسـة</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <img src="" alt="" class="img-fluid" />
                </div>      
            </div>
        </div>

    </section>    

    <section class="contacts py-5">
        <div class="w-50 m-auto text-center">
            
            <div class="container">
                <div class="row">   
                    <div class="col-sm-4 p-2">
                        <i class="fab fa-whatsapp clickable"></i>
                        <p class="mt-2 clickable">أرسـل عـبـر الـواتـسـاب</p>
                    </div>
                    <div class="col-sm-4 p-2">
                        <i class="fas fa-mobile-alt clickable"></i>
                        <p class="mt-2 clickable">أتـصـل بـنـا</p>
                    </div>
                    <div class="col-sm-4 p-2">
                        <i class="far fa-envelope clickable"></i>
                        <p class="mt-2 clickable">أرسـل عـبـر الـبريـد</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="owners py-5">
        <div class="container w-75 m-auto text-center">
            <div class="row" id="num1">
                <div class="col-md-12">
                    <div class="profilePhoto">
                        <img class="img-fluid rounded-circle" src="../../../assets/imgs/mahmoud.jpg" 
                        alt="Profile Photo" width="250px" height="250px" />
                    </div>
                    <div class="data">
                        <h3>Mahmoud</h3>
                        <p>mahmoud.hesham693@gmail.com</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, delectus.</p>
                    </div>
                    <i (click)="changeOwner()" class="fas fa-angle-left clickable"></i>
                    <i (click)="changeOwner()" class="fas fa-angle-right clickable"></i>
                </div>
            </div>
            <div class="row d-none" id="num2">
                <div class="col-md-12">
                    <div class="profilePhoto">
                        <img class="rounded-circle" src="../../../assets/imgs/" alt="Profile Photo" width="250px" height="250px" />
                    </div>
                    <div class="data">
                        <h3>Ahmed Osama</h3>
                        <p>ahmed.osama@gmail.com</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, delectus.</p>
                    </div>
                    <i (click)="changeOwner()" class="fas fa-angle-left clickable"></i>
                    <i (click)="changeOwner()" class="fas fa-angle-right clickable"></i>
                </div>
            </div>
        </div>
    </section>

</div>